<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" profileGuidedOptimizations="None" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <authentication mode="Forms"/>
    <pages enableViewStateMac="false" enableViewState="false"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="30"/>
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx">
      <error statusCode="403" redirect="ErrorPage.aspx"/>
      <error statusCode="404" redirect="ErrorPage.aspx"/>
    </customErrors>
    <caching>
      <sqlCacheDependency pollTime="2000" enabled="true">
        <databases>
             <add connectionStringName="EasywayConnectionString" name="Easyway"/>
          <!--  <add connectionStringName="EasywayConnectionString" name="organic1_eway2buy"/>-->
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" enableSsl="true" port="587" userName="rnramkumar@gmail.com" password="!verizon@1!$"/>
        <!-- <network host="204.93.216.68" enableSsl="false" port="2525" userName="support@eway2buy.com" password="!support@1!" />-->
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <add name="EasyWayHandler" verb="*" path="*.EW2B" type="EasyWay.BusinessLayer.EasyWayHandler, EasyWay.BusinessLayer"/>
    </handlers>
    
    <staticContent>
      <clientCache  cacheControlMode="UseMaxAge" cacheControlMaxAge="4.00:00:00" />
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <add name="EasywayConnectionString" connectionString="Data Source=RAMKUMAR-PC\SQLEXPRESS;Initial Catalog=Easyway;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="EasywayConnectionString" connectionString="Server=198.38.83.33;Database=organic1_eway2buy;Uid=organic1_ramdesigners;Password=!eway2buy@1!;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ShippingTotal" value=""/>
    <add key="MinShippingAmt" value=""/>
    <add key="CacheHours" value="12"/>
    <add key="adminEmail" value="eway2buy@gmail.com"/>
    <!-- for sending bcc email -->
    <add key="siteEmail" value="support@eway2buy.com"/>
    <!-- from email of webhosting -->
    <add key="pageSize" value="1"/>
    <add key="DBName" value="Easyway" />
    <!--<add key="DBName" value="organic1_eway2buy"/>-->
    <add key="SiteHostUrl" value="http://www.eway2buy.com/"/>
    <add key="RateMsg" value="Minimum order amount for your area is {0}.Please {1} to continue your shopping."/>
    <add key="SmtpServer" value="mail.organicgrama.com.wbm3.my-hosting-panel.com"/>
  
  	<!-- <add key="MERCHANT_KEY" value="JBZaLc"/>
		<add key="SALT" value="GQs7yium"/>
    <add key="PAYU_BASE_URL" value="https://test.payu.in"/> -->
    <add key="MERCHANT_KEY" value="R4Bv5K"/>
		<add key="SALT" value="WYATfLla"/>
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment"/>
     <add key="SUCC_URL" value="http://localhost:1448/control/paymentResponse"/>
    <add key="DECLINE_URL" value="http://localhost:1448/control/paymentResponse"/>
    <add key="SERVICE_PROVIDER" value="payu_paisa"/>
		<add key="action" value=""/>
		<add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
  </appSettings>
</configuration>