/* Apex Fonts */
@font-face {
  font-family: 'Apex-Light';
  src: url("fonts/apexlight.eot");
  src: url("fonts/apexlight.eot?#iefix") format("embedded-opentype"), url("fonts/apexlight.woff") format("woff"), url("fonts/apexlight.ttf") format("truetype"), url("fonts/apexlight.svg#Apex-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apex-Book';
  src: url("fonts/apexbook.eot");
  src: url("fonts/apexbook.eot?#iefix") format("embedded-opentype"), url("fonts/apexbook.woff") format("woff"), url("fonts/apexbook.ttf") format("truetype"), url("fonts/apexbook.svg#Apex-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Book-Italic';
  src: url("fonts/apexbookitalic.eot");
  src: url("fonts/apexbookitalic.eot?#iefix") format("embedded-opentype"), url("fonts/apexbookitalic.woff") format("woff"), url("fonts/apexbookitalic.ttf") format("truetype"), url("fonts/apexbookitalic.svg#Apex-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Medium';
  src: url("fonts/apex-medium.otf");
   font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Medium-Italic';
  src: url("fonts/apex-mediumitalic.otf");
   font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apex-Bold';
  src: url("fonts/apexbold.otf");
   font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Bold-Italic';
  src: url("fonts/apexbolditalic.otf");
   font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Ultra';
  src: url("fonts/apex-ultra.otf");
   font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apex-Ultra-Italic';
  src: url("fonts/apex-ultraitalic.otf");
   font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'entypo';
	src:url('fonts/entypo.eot');
	src:url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('fonts/entypo.ttf') format('truetype'),
		url('fonts/entypo.woff') format('woff'),
		url('fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General CSS*/
body{margin:0; padding:0; background-color:#f2f2f2; font-family:Arial, Helvetica, sans-serif; color:#333; font-size:14px;}
.divGlobal {width:100%}
.divGlobal .bodycontent{padding:0 15px;}
.divGlobal .bodycontent .row{margin-right:-15px; margin-left:-15px;}
.divGlobal .container {width:100%; margin:0 auto; background-color:#ffffff; }
.divGlobal .container .landinghero {background-image:url(../images/arvindkejriwal.jpg); background-position:right top;}
.divGlobal .container .sechero {background-image:url(../images/hero7.jpg); background-position:center center;}
.divGlobal .container .bgimage {background-repeat:no-repeat; background-size:cover;}
.divGlobal .container .bgimage .shadowdiv{height:100%; background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%); width:100%; position:relative; overflow:hidden;}
.divGlobal .container .logowrap {position:absolute; right:15px; top:15px;}
.divGlobal .container .sitefooter {padding:0;width:100%; background-color:#f2f2f2; border-top:1px solid #ccc; padding-top:10px;}
.divGlobal .flex{max-width:100%;}
.divGlobal .flex_sm{max-width:50%;}
.divGlobal img{border:none; display:block;}
.divGlobal p{font-size:1em; margin:0 0 10px 0; padding:0;}


.divGlobal .bold { font-weight:bold; }
.divGlobal .hidden_text { text-indent: -99999px }
.divGlobal .fl { float:left !important;}
.divGlobal .fr { float:right !important;}
.divGlobal .clear {clear: both; display:block; min-width:0;}
.divGlobal .clear:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
.divGlobal .fixer { display:block; clear:both; overflow:hidden; width:auto; height:1px; line-height:1px; font-size:1px; }
.divGlobal .clearfix { *zoom:1}
.divGlobal .clearfix:after { content:'.'; display:block; height:0; clear:both; visibility:hidden; line-height:0; overflow:auto; _height:1px; }
.divGlobal .centered { margin: auto !important; }
.divGlobal .hidden { position:absolute !important; left:-9000em; top:-9000em; width:0; height:0; overflow:hidden; }
.divGlobal div.divider { border-bottom:1px solid #d8d9d9; padding-top:20px; margin-bottom:14px; }
.divGlobal .italics {font-style:italic !important;}
.divGlobal .bold {font-weight:bold !important;}
.divGlobal .normal {font-weight:normal !important;}
.divGlobal .t_center {text-align:center !important;}
.divGlobal .t_right {text-align:right !important;}
.divGlobal .t_left {text-align:left !important;}
.divGlobal .bdrb{border-bottom:1px solid #ccc; padding-bottom:5px;}

.divGlobal .f10, .divGlobal .f10 a, .divGlobal a.f10 { font-size: 0.714em !important; line-height: 11px; }
.divGlobal .f11, .divGlobal .f11 a, .divGlobal a.f11 { font-size: 0.786em !important; line-height: 12px; }
.divGlobal .f12, .divGlobal .f12 a, .divGlobal a.f12 { font-size: 0.857em !important; line-height: 14px; }
.divGlobal .f14, .divGlobal .f14 a, .divGlobal a.f14 { font-size: 1.000em !important; line-height: 16px; }
.divGlobal .f15, .divGlobal .f15 a, .divGlobal a.f15 { font-size: 1.071em !important; line-height: 16px;}
.divGlobal .f16, .divGlobal .f16 a, .divGlobal a.f16 { font-size: 1.143em !important; line-height: 18px; }
.divGlobal .f17, .divGlobal .f17 a, .divGlobal a.f17 { font-size: 1.214em !important; line-height: 20px; }
.divGlobal .f18, .divGlobal .f18 a, .divGlobal a.f18 { font-size: 1.286em !important; line-height: 20px; }
.divGlobal .f20, .divGlobal .f20 a, .divGlobal a.f20 { font-size: 1.429em !important; line-height: 22px; }
.divGlobal .f22, .divGlobal .f22 a, .divGlobal a.f22 { font-size: 1.571em !important; line-height: 24px; }
.divGlobal .f24, .divGlobal .f24 a, .divGlobal a.f24 { font-size: 1.714em !important; line-height: 24px; }
.divGlobal .f26, .divGlobal .f26 a, .divGlobal a.f26 { font-size: 1.857em !important; line-height: 28px; }
.divGlobal .f28, .divGlobal .f28 a, .divGlobal a.f28 { font-size: 2.000em !important; line-height: 30px; }
.divGlobal .f30, .divGlobal .f30 a, .divGlobal a.f30 { font-size: 2.143em !important; line-height: 32px; }
.divGlobal .f32, .divGlobal .f32 a, .divGlobal a.f32 { font-size: 2.286em !important; line-height: 35px; }
.divGlobal .f35, .divGlobal .f35 a, .divGlobal a.f35 { font-size: 2.500em !important; line-height: 38px; }
.divGlobal .f48, .divGlobal .f48 a, .divGlobal a.f48 { font-size: 3.429em !important; line-height: 50px; }


.divGlobal h1 { margin:0;padding:0; display:inline; font-size:inherit; line-height:inherit; letter-spacing:normal;font-weight:inherit;}
.divGlobal h2 { font-size:3.143em; line-height:48px;margin:0 0 12px 0;padding:0; font-weight:normal;color:#333;}
.divGlobal h3 { font-size:2.143em; line-height:32px;margin:0 0 12px 0;padding:0; font-weight:normal;color:#333;}
.divGlobal h4 { font-size:1.857em; line-height:28px;margin:0 0 12px 0;padding:0; font-weight:normal;color:#333;}
.divGlobal h5 { font-size:1.286em; line-height:22px;margin:0 0 12px 0;padding:0; font-weight:normal;color:#333;}
.divGlobal h6 { font-size:1.143em; line-height:20px;margin:0 0 12px 0;padding:0; font-weight:normal;color:#333;}

.divGlobal .snug { padding:0 !important; margin:0 !important; }

/* Font Colors */
.divGlobal .twhite{color:#ffffff;}
.divGlobal .dblue {color:#0d5f99;}
.divGlobal .dblack{color:#333333;}
.divGlobal .torange{color:#FF9933;}
.divGlobal .tgreen{color:#138808;}
.divGlobal .tred{color:#ff0000;}

/* Font Styles */
.divGlobal .apex_light {font-family:Apex-Light, sans-serif !important;}
.divGlobal .apex_book {font-family:Apex-Book, sans-serif !important;}
.divGlobal .apex_book_italic {font-family:Apex-Book-Italic, sans-serif !important;}
.divGlobal .apex_med{font-family:Apex-Medium, sans-serif !important;}
.divGlobal .apex_med_italic {font-family:Apex-Medium-Italic, sans-serif !important;}
.divGlobal .apex_bold {font-family:Apex-Bold, sans-serif !important;}
.divGlobal .apex_bold_italic {font-family:Apex-Bold-Italic, sans-serif !important;}
.divGlobal .apex_ultra{font-family:Apex-Ultra, sans-serif !important;}
.divGlobal .apex_ultra_italic{font-family:Apex-Ultra-Italic, sans-serif !important;}

/* Bootsrtap Icons */
/*.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.glyphicon-cd:before {
  content: "\e201";
}
.glyphicon-save-file:before {
  content: "\e202";
}
.glyphicon-open-file:before {
  content: "\e203";
}
.glyphicon-level-up:before {
  content: "\e204";
}
.glyphicon-copy:before {
  content: "\e205";
}
.glyphicon-paste:before {
  content: "\e206";
}
.glyphicon-alert:before {
  content: "\e209";
}
.glyphicon-equalizer:before {
  content: "\e210";
}
.glyphicon-king:before {
  content: "\e211";
}
.glyphicon-queen:before {
  content: "\e212";
}
.glyphicon-pawn:before {
  content: "\e213";
}
.glyphicon-bishop:before {
  content: "\e214";
}
.glyphicon-knight:before {
  content: "\e215";
}
.glyphicon-baby-formula:before {
  content: "\e216";
}
.glyphicon-tent:before {
  content: "\26fa";
}
.glyphicon-blackboard:before {
  content: "\e218";
}
.glyphicon-bed:before {
  content: "\e219";
}
.glyphicon-apple:before {
  content: "\f8ff";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-hourglass:before {
  content: "\231b";
}
.glyphicon-lamp:before {
  content: "\e223";
}
.glyphicon-duplicate:before {
  content: "\e224";
}
.glyphicon-piggy-bank:before {
  content: "\e225";
}
.glyphicon-scissors:before {
  content: "\e226";
}
.glyphicon-bitcoin:before {
  content: "\e227";
}
.glyphicon-btc:before {
  content: "\e227";
}
.glyphicon-xbt:before {
  content: "\e227";
}
.glyphicon-yen:before {
  content: "\00a5";
}
.glyphicon-jpy:before {
  content: "\00a5";
}
.glyphicon-ruble:before {
  content: "\20bd";
}
.glyphicon-rub:before {
  content: "\20bd";
}
.glyphicon-scale:before {
  content: "\e230";
}
.glyphicon-ice-lolly:before {
  content: "\e231";
}
.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.glyphicon-education:before {
  content: "\e233";
}
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-modal-window:before {
  content: "\e237";
}
.glyphicon-oil:before {
  content: "\e238";
}
.glyphicon-grain:before {
  content: "\e239";
}
.glyphicon-sunglasses:before {
  content: "\e240";
}
.glyphicon-text-size:before {
  content: "\e241";
}
.glyphicon-text-color:before {
  content: "\e242";
}
.glyphicon-text-background:before {
  content: "\e243";
}
.glyphicon-object-align-top:before {
  content: "\e244";
}
.glyphicon-object-align-bottom:before {
  content: "\e245";
}
.glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.glyphicon-object-align-left:before {
  content: "\e247";
}
.glyphicon-object-align-vertical:before {
  content: "\e248";
}
.glyphicon-object-align-right:before {
  content: "\e249";
}
.glyphicon-triangle-right:before {
  content: "\e250";
}
.glyphicon-triangle-left:before {
  content: "\e251";
}
.glyphicon-triangle-bottom:before {
  content: "\e252";
}
.glyphicon-triangle-top:before {
  content: "\e253";
}
.glyphicon-console:before {
  content: "\e254";
}
.glyphicon-superscript:before {
  content: "\e255";
}
.glyphicon-subscript:before {
  content: "\e256";
}
.glyphicon-menu-left:before {
  content: "\e257";
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}*/

/*  Social Media Icons */
i {
  cursor: pointer;
  display: inline-block;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  }

.socialicon{
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

.facebook:before {
	content: "\e6f9";
	 background: #3b5998;
 	border-radius: 50%;
  	color: #ffffff !important;
	font-size:2em; padding:5px;
}
.twitter:before {
	content: "\e6f7";
	color:#ffffff;
  	border-radius: 50%;
  	background:#00a0d1;
	font-size:2em; padding:5px;
}

/* Spacing */
/* Pads */
.divGlobal div.pad { padding:0 10px 0 10px; }
.divGlobal div.pad_all { padding:10px; }
.divGlobal div.pad_none { padding:0; }
.divGlobal div.pad_left { padding-left:10px; }
.divGlobal div.pad_right { padding-right:10px; }
.divGlobal div.pad_right25 {padding-right:25px;}
.divGlobal div.pad_top { padding-top:10px; }
.divGlobal .padt35{padding-top:35px;}
.divGlobal div.pad_bottom { padding-bottom:10px; }
.divGlobal div.pad_20 { padding:20px; }
.divGlobal div.pad_20_0 { padding:20px 0; }
.divGlobal div.pad_10_5 { padding:10px 5px; }
.divGlobal div.pad_5_0 { padding:5px 0; }
.divGlobal div.pad_little_left { padding-left:3px; }
.divGlobal .m10 { margin: 10px; }
.divGlobal .m20 { margin: 20px; }
.divGlobal .mr0 { margin-right:0px !important; }
.divGlobal .mr5{margin-right:5px;}
.divGlobal .mr15{margin-right:15px;}
.divGlobal .mr20{margin-right:20px;}
.divGlobal .mr30{margin-right:30px;}
.divGlobal .mb5 { margin-bottom:5px; }
.divGlobal .mb15 { margin-bottom:15px; }
.divGlobal .mb25 { margin-bottom:25px; }
.divGlobal .ml5{margin-left:5px;}
.divGlobal .pad10 { padding: 10px; }
.divGlobal .padl20 { padding-left: 20px; }
.divGlobal .padl5 { padding-left:5px; }
.divGlobal .padr5 { padding-right:5px; }
.divGlobal .padt10 { padding-top: 10px; }
.divGlobal .padt40 { padding-top: 40px; }
.divGlobal .snug { padding:0 !important; margin:0 !important; }
.divGlobal .inline { float:left; display:inline; }
.divGlobal .padl5 { padding-left:5px; }
.divGlobal .padt20 { padding-top: 20px; }
.divGlobal .padl40 { padding-left: 40px; }
.divGlobal .pad_left_snug{padding-left:0 !important;}
.divGlobal .pad_right_snug{padding-left:0 !important;}
.divGlobal .pad_top_snug{padding-left:0 !important;}
.divGlobal .pad_bottom_snug{padding-left:0 !important;}
.divGlobal .mart5 {margin-top:5px !important;}

.divGlobal .section_title{font-family:Apex-Book-Italic, sans-serif !important; font-size:1.286em; border-bottom:1px solid #ccc; padding-bottom:5px; padding-top:20px; color:#138808;}
.divGlobal .container {padding:0;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 0; padding-right: 0;}
.divGlobal .pagination {margin-top:0px;}

.divGlobal .icon_excel {background:url(../images/icon_excel.png) right 0 no-repeat; width:24px; height:30px; padding:5px 30px 5px 0;}
.divGlobal .report_content{font-family:Apex-Book, sans-serif !important; font-size:16px; margin:10px 0;}

/* Mobile CSS*/
@media (min-width:320px) and (max-width:599px){
.divGlobal {width:100%}
.divGlobal .container .shadowdiv{min-height:25px;}
.divGlobal .container .sechero .shadowdiv {min-height:200px;}
.divGlobal .container .bgimage .shadowdiv .contentwrap{width:100%;}
.divGlobal .container .bgimage .shadowdiv .contentwrap .content{color:#fff; position:absolute; bottom:20px; left:15px; text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);}
.divGlobal .container .logowrap {width:60px;}
.divGlobal .container .sitefooter .footerwrap {padding:0 15px;}
.divGlobal .container .sitefooter .footerwrap p{font-size:12px !important;}
.divGlobal .container .sitefooter .footerwrap .col-xs-4 {padding-right:0px;}

.divGlobal .navwrap {100%}
.divGlobal .navigation{margin:0; padding:0;}
.divGlobal .navigation li{list-style-type:none;background-color: #520606; border-bottom:1px solid #f2b243;}
.divGlobal .navigation li.last{border-bottom:none;}
.divGlobal .navigation li a{padding:18px 15px; text-align:left; display:block; font-family:Apex-Book, sans-serif !important; text-decoration:none; color:#fff; letter-spacing:0.8px;}
.divGlobal .navigation li a:hover{text-decoration:none;}
.divGlobal .desk_display {display:none;}
.divGlobal .mob_display {display:block;}
/*i {display:block; padding:8px 15px;}*/
.divGlobal .btn{display:block;}
.divGlobal #verifynumber .col-xs-6 {padding-right:5px;}
.divGlobal .btnwrap .mb10 {margin-bottom:10px !important;}
.divGlobal .nav_hidden{display:none;}
.divGlobal .table tr td input[type="text"]{width:100%;}
}
@media (min-width:320px) and (max-width:599px) and (orientation:landscape){
.divGlobal .container .shadowdiv{min-height:25px !important;}	
.divGlobal .container .sechero .shadowdiv {min-height:100px;}
.divGlobal .container .bgimage .shadowdiv .content{bottom:25px; left:15px;}
}

@media (min-width:640px) and (orientation:landscape){
.divGlobal .container .bgimage .shadowdiv{min-height:25px !important;}
.divGlobal .navwrap {margin-left:-15px; margin-right:-15px;}
.divGlobal .navigation{margin:0; padding:0;}
.divGlobal .navigation li{list-style-type:none;background-color:#E1EA83; border-bottom:1px solid #fff;}
.divGlobal .navigation li.last{border-bottom:none;}
.divGlobal .navigation li a{padding:18px 15px; text-align:left; display:block; font-family:Apex-Book, sans-serif !important; font-size:12px; text-decoration:none; color:#333; letter-spacing:0.8px;}
.divGlobal .navigation li a:hover{text-decoration:none;}
.divGlobal .desk_display {display:none;}
.divGlobal .mob_display {display:block;}
.divGlobal .nav_hidden{display:none;}
.divGlobal .container .sechero .shadowdiv {min-height:200px !important;}
}

/* Tab CSS*/
@media (min-width:600px) and (max-width:1024px){
.divGlobal {width:100%}
.divGlobal .container .bgimage .shadowdiv{min-height:25px;}
.divGlobal .container .logowrap {width:100px;}
.divGlobal .container .bgimage .shadowdiv .contentwrap{width:100%;}
.divGlobal .container .bgimage .shadowdiv .contentwrap .content{color:#fff; position:absolute; bottom:20px; left:15px; text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);}
.divGlobal .container .sitefooter .footerwrap{margin:0 auto; padding:0 15px;}
.divGlobal .navwrap {width:100%; margin:0;}
.divGlobal .navigation{margin:0; padding:0;}
.divGlobal .navigation li{list-style-type:none;background-color: #7a0505; border-bottom:1px solid #f2b243;}
.divGlobal .navigation li.last{border-bottom:none;}
.divGlobal .navigation li a{padding:18px 15px; text-align:left; display:block; font-family:Apex-Book, sans-serif !important; text-decoration:none; color:#fff; letter-spacing:0.8px; font-size:14px;}
.divGlobal .navigation li a:hover{text-decoration:none;}
.divGlobal .desk_display {display:none;}
.divGlobal .mob_display {display:block;}
.divGlobal div.pad_right15 {padding-right:15px;}
.col-md-5, .col-lg-5{ padding-right:15px;padding-left:0px;}
.divGlobal #verifynumber .col-xs-6 {padding-right:5px;}
.divGlobal .btn{display:block;}
.divGlobal .btnwrap .mb10 {margin-bottom:10px !important;}
.divGlobal .nav_hidden{display:none;}
}

@media (min-width:768px) and (max-width:1024px){
.divGlobal .container .bgimage .shadowdiv{min-height:25px !important;}
.divGlobal .navwrap {width:100%; margin:0; }
.divGlobal .navigation{margin:0; padding:0;}
.divGlobal .navigation li{list-style-type:none;background-color: #7a0505; border-bottom:1px solid #f2b243;}
.divGlobal .navigation li.last{border-bottom:none; border-right:none;}
.divGlobal .navigation li a{padding:18px 15px; text-align:left; display:block; font-family:Apex-Book, sans-serif !important; font-size:14px;  text-decoration:none; color:#fff; letter-spacing:0.8px;}
.divGlobal .navigation li a:hover{text-decoration:none;}
.divGlobal .desk_display {display:none;}
.divGlobal .mob_display {display:block;}
.divGlobal .btn{display:block;}
.divGlobal .nav_hidden{display:none;}
.divGlobal .loginwrap .col-md-3, .divGlobal .loginwrap .col-lg-3, .divGlobal .updatevolunteerwrap .col-md-3, .divGlobal .updatevolunteerwrap .col-lg-3{margin-right:20px;}

}

@media (min-width:600px) and and (max-width:1024px) and (orientation:landscape){
.divGlobal .container .bgimage .shadowdiv{min-height:400px;}

}

@media (min-width:1024px) and (max-width:1024px){
.divGlobal .navwrap {width:100%; border-bottom:none; margin-left:0px; margin-right:0px; background-color:#7a0505; -webkit-box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.3);-moz-box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.3);box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.3);}
.divGlobal .navigation{margin:0 auto; padding:0; width:985px;}
.divGlobal .navigation li{list-style-type:none; background-color:#7a0505; float:left; padding:0;  border-right:1px solid #facc12; border-bottom:none;}
.divGlobal .navigation li.last{margin-right:0px}
.divGlobal .navigation li a{text-align:left; padding:15px 15px 10px; font-family:Apex-Book, sans-serif !important; font-size:12px; text-decoration:none; color:#fff; letter-spacing:0.8px; border-bottom:5px solid #7a0505;}
.divGlobal .navigation li a:hover{text-decoration:none; color:#fff; border-bottom:5px solid #fff;}
.divGlobal .desk_display {display:block;}
.divGlobal .mob_display {display:none;}
.divGlobal div.pad_right15 {padding-right:15px;}
.divGlobal #verifynumber .lgcolfix {width:10.333%;}
.divGlobal .btn{display:inline-block;}
.col-md-6, .col-lg-6, .col-md-8, .col-lg-8{ padding-right:15px;padding-left:0px;}
.divGlobal .nav_hidden {display:block;}
.divGlobal .btntpad {padding-top:25px;}
.divGlobal .reportexcelnktpad {padding-top:15px;}
}



/* Desktop CSS*/
@media (min-width:1025px){
.divGlobal {width:100%}
.divGlobal .container .bgimage .shadowdiv{min-height:400px !important;}
.divGlobal .container .bodycontent{width:985px; margin:0 auto;}
.divGlobal .container .sitefooter .footerwrap{width:985px; margin:0 auto; padding:0;}
.divGlobal .container .bgimage .shadowdiv .contentwrap{width:985px; margin:0 auto !important; position:relative;}
.divGlobal .container .bgimage .shadowdiv .contentwrap .content {color:#fff; width:300px; position:absolute; top:250px; left:0; padding:15px; background-color:#000; border-radius:5px;}	
.divGlobal .container .logowrap {width:100px; right:50px;}

.divGlobal .navwrap {width:100%; border-bottom:none; margin-left:0px; margin-right:0px; background-color:#7a0505; -webkit-box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.3);-moz-box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.3);box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.3);}
.divGlobal .navigation{margin:0 auto; padding:0; width:985px;}
.divGlobal .navigation li{list-style-type:none; background-color:#7a0505; float:left; padding:0;  border-right:1px solid #facc12; border-bottom:none;}
.divGlobal .navigation li.last{margin-right:0px; border-right:none;}
.divGlobal .navigation li a{text-align:left; padding:15px 15px 10px; font-family:Apex-Book, sans-serif !important; font-size:12px; text-decoration:none; color:#fff; letter-spacing:0.8px; border-bottom:5px solid #7a0505;}
.divGlobal .navigation li a:hover{text-decoration:none; color:#fff; border-bottom:5px solid #fff;}
.divGlobal .navigation li a.selected {color:#fff; border-bottom:5px solid #fff;}
.divGlobal div.pad_right15 {padding-right:15px;}

.divGlobal .desk_display {display:block;}
.divGlobal .nav_hidden {display:block;}
.col-md-6, .col-lg-6, .col-md-8, .col-lg-8{ padding-right:15px;padding-left:0px;}
.col-md-5, .col-lg-5{ padding-right:15px;padding-left:0px;}
.divGlobal #verifynumber .lgcolfix {width:10.333%;}

.divGlobal .loginwrap .col-md-3, .divGlobal .loginwrap .col-lg-3, .divGlobal .updatevolunteerwrap .col-md-3, .divGlobal .updatevolunteerwrap .col-lg-3{margin-right:20px;}
.divGlobal .btntpad {padding-top:25px;}
.divGlobal .reportexcelnktpad {padding-top:15px;}
.divGlobal .adminindextext{font-size:24px; margin:30px 0;}

}
